---
apiVersion: v1
kind: Secret
metadata:
  name: nimble-backend
  namespace: hpe-storage
stringData:
  serviceName: nimble-csp-svc
  servicePort: "8080"
  backend: {{ user_cluster.csi.nimble.nimble_group }}
  username: {{ user_cluster.csi.nimble.user }}
  password: {{ vault_nimble_password }} 

