{% if iscsi1_portgroup is defined %}
#!/bin/bash
mask2cidr() {
    nbits=0
    IFS=.
    for dec in $1 ; do
        case $dec in
            255) let nbits+=8;;
            254) let nbits+=7;;
            252) let nbits+=6;;
            248) let nbits+=5;;
            240) let nbits+=4;;
            224) let nbits+=3;;
            192) let nbits+=2;;
            128) let nbits+=1;;
            0);;
            *) echo "Error: $dec is not recognised"; exit 1
        esac
    done
    echo "$nbits"
}
vmtoolsd --cmd 'info-get guestinfo.ovfEnv' > /tmp/ovfenv
IPAddress=$(sed -n 's/.*Property oe:key="guestinfo.interface.1.ip.0.address" oe:value="\([^"]*\).*/\1/p' /tmp/ovfenv)
SubnetMask=$(sed -n 's/.*Property oe:key="guestinfo.interface.1.ip.0.netmask" oe:value="\([^"]*\).*/\1/p' /tmp/ovfenv)
prefix=$(mask2cidr $SubnetMask)
cat > /etc/netplan/iscsi1.yaml <<EOF
network:
  version: 2
  renderer: networkd
  ethernets:
    {{ iscsi1_iface }}:
      mtu: 9000
      addresses: 
        - $IPAddress/$prefix
EOF
sudo netplan apply
{% endif %}
