[local]
localhost                ansible_connection=local 

[support]
rancher-support1         ansible_host=16.78.21.177 minio=true # dhcp=true define dhcp if you have a DHCP free VLAN for Rancher

[loadbalancer]
rancher-lb1              ansible_host=16.78.21.178 api_int_preferred=true
rancher-lb2              ansible_host=16.78.21.179
#                                 vip 16.78.21.180 see group_vars/all/vars.yml

#machines hosting Rancher Cluster
[ranchernodes]
rancher-rke1             ansible_host=16.78.21.181
rancher-rke2             ansible_host=16.78.21.182
rancher-rke3             ansible_host=16.78.21.183

[template]
rancher-ubuntu-tpl       ansible_host=16.78.21.184

