apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: kasten
  namespace: kasten-io
  annotations:
    nginx.ingress.kubernetes.io/app-root: /k10/#
spec:
  rules:
  - host: kasten.{{ user_cluster.name }}.{{ domain_name }}
    http:
      paths:
      - backend:
          serviceName: gateway
          servicePort: 8000
        path: /
        pathType: Prefix
