apiVersion: v1
kind: Secret
type: secrets.kanister.io/aws
metadata:
  name: {{ kasten_location.secret.name }}
  namespace: kasten-io
data:
  aws_access_key_id: {{ kasten_location.secret.access_key | b64encode }}
  aws_secret_access_key: {{ kasten_location.secret.secret_key | b64encode }}
