---
vault_vcenter_password: 'PasswordForYourVcenter'
vault_rancher_password: 'PasswordForRancher'
vault_ad_service_account_password: 'PasswordForActiveDirectoryServiceAccount'
vault_harbor_admin_password: 'PasswordForPortalAdminUser'
vault_harbor_db_password: 'PasswordForDB'
vault_nimble_password: 'AdminPasswordForNimbleGroup'
vault_minio_access_key: admin
vault_minio_secret_key: 'Just4m$hpe'
