apiVersion: v1
kind: Secret
metadata:
  name: cpi-vsphere-secret
  namespace: kube-system
stringData:
  {{ vcenter_hostname }}.username: "{{ vcenter_username }}" 
  {{ vcenter_hostname }}.password: "{{ vault_vcenter_password }}" 
