version: 2
ethernets:
  id0:
     match:
       macaddress: {{ vm_specs.instance.hw_eth0.macaddress }}
     addresses:
     - {{ hostvars[inventory_hostname].ansible_host }}/{{ rancher_subnet | ipaddr('prefix') }}
     gateway4: {{ gateway }}
     nameservers:
       search: {{ dns_suffixes }}
       addresses: {{ dns_servers }}
